EXPLORATIONOF WPDX

In [395]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [396]:
df = pd.read_csv('../data/raw/wpdx_kenya.csv')
df.head()

C:\Users\PINCHEZZ\AppData\Local\Temp\ipykernel_6564\464967222.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/wpdx_kenya.csv')

,row_id,source,lat_deg,lon_deg,report_date,status_id,water_source_clean,water_source_category,water_tech_clean,_water_tech_category,...,subjective_quality,new_georeferenced_column_,lat_lon_deg,public_data_source,converted,count,created_timestamp,updated,is_duplicate,dataset_title
0,223047,Evidence Action,0.287917,34.661463,2024-12-01T00:00:00.000,Yes,Protected Well,Well,Motorized Pump - Electric,Motorized Pump,...,NaN,POINT (34.6614629 0.2879167),"(0.2879167°, 34.6614629°)",https://catalog.waterpointdata.org/datafiles/e...,NaN,1,2024-04-18T19:20:18.000,2024-04-18T19:20:18.000,NaN,Evidence Action_Kenya_2023-2024
1,221685,Evidence Action,0.382727,34.591831,2024-12-01T00:00:00.000,Yes,Borehole/Tubewell,Well,Public Tapstand,Public Tapstand,...,"Yes, the water is treated and safe for drinking",POINT (34.59183120727539 0.3827266693115234),"(0.38272666931152344°, 34.59183120727539°)",https://catalog.waterpointdata.org/datafiles/e...,"#status_id, #orig_lnk",1,2024-04-18T19:20:18.000,2024-04-18T19:20:18.000,NaN,Evidence Action_Kenya_2023-2024
2,221520,Evidence Action,0.311163,34.586723,2024-12-01T00:00:00.000,Yes,Borehole/Tubewell,Well,NaN,NaN,...,NaN,POINT (34.58672332763672 0.3111633360385895),"(0.3111633360385895°, 34.58672332763672°)",https://catalog.waterpointdata.org/datafiles/e...,NaN,1,2024-04-18T19:20:18.000,2024-04-18T19:20:18.000,NaN,Evidence Action_Kenya_2023-2024
3,221691,Evidence Action,0.397245,34.595146,2024-12-01T00:00:00.000,Yes,Protected Well,Well,Motorized Pump - Electric,Motorized Pump,...,NaN,POINT (34.59514617919922 0.3972449898719788),"(0.39724498987197876°, 34.59514617919922°)",https://catalog.waterpointdata.org/datafiles/e...,NaN,1,2024-04-18T19:20:18.000,2024-04-18T19:20:18.000,NaN,Evidence Action_Kenya_2023-2024
4,222938,Evidence Action,0.298903,34.655777,2024-12-01T00:00:00.000,Yes,Protected Well,Well,Motorized Pump - Electric,Motorized Pump,...,NaN,POINT (34.6557765 0.298903),"(0.298903°, 34.6557765°)",https://catalog.waterpointdata.org/datafiles/e...,NaN,1,2024-04-18T19:20:18.000,2024-04-18T19:20:18.000,NaN,Evidence Action_Kenya_2023-2024

In [397]:
df['subjective_quality'][2567]

nan

In [398]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21953 entries, 0 to 21952
Data columns (total 73 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   row_id                      21953 non-null  int64
 1   source                      21953 non-null  object
 2   lat_deg                     21953 non-null  float64
 3   lon_deg                     21953 non-null  float64
 4   report_date                 21953 non-null  object
 5   status_id                   21953 non-null  object
 6   water_source_clean          21836 non-null  object
 7   water_source_category       21836 non-null  object
 8   water_tech_clean            16046 non-null  object
 9   _water_tech_category        15356 non-null  object
 10  facility_type               21953 non-null  object
 11  clean_country_name          21953 non-null  object
 12  clean_country_id            21953 non-null  object
 13  clean_adm1                  21953 non-null  object
 14  clean_adm2                  21953 non-null  object
 15  clean_adm3                  21953 non-null  object
 16  clean_adm4                  0 non-null      float64
 17  install_year                10167 non-null  float64
 18  installer                   3849 non-null   object
 19  rehab_year                  0 non-null      float64
 20  rehabilitator               0 non-null      float64
 21  management_clean            10062 non-null  object
 22  status_clean                21953 non-null  object
 23  pay_clean                   3592 non-null   object
 24  fecal_coliform_presence     0 non-null      float64
 25  fecal_coliform_value        0 non-null      float64
 26  subjective_quality_clean    10175 non-null  object
 27  activity_id                 19744 non-null  object
 28  scheme_id                   0 non-null      float64
 29  wpdx_id                     21953 non-null  object
 30  notes                       3341 non-null   object
 31  orig_lnk                    3637 non-null   object
 32  photo_lnk                   10182 non-null  object
 33  country_id                  21882 non-null  object
 34  data_lnk                    21953 non-null  object
 35  distance_to_primary         21953 non-null  float64
 36  distance_to_secondary       21953 non-null  float64
 37  distance_to_tertiary        21953 non-null  float64
 38  distance_to_city            21905 non-null  float64
 39  distance_to_town            21953 non-null  float64
 40  water_point_history         21953 non-null  object
 41  local_population            21104 non-null  float64
 42  served_population           21104 non-null  float64
 43  rehab_priority              2055 non-null   float64
 44  _pop_who_would_gain_access  1787 non-null   float64
 45  crucialness                 21023 non-null  float64
 46  pressure                    20106 non-null  float64
 47  usage_cap                   20899 non-null  float64
 48  days_since_report           21953 non-null  int64
 49  staleness_score             21953 non-null  float64
 50  is_latest                   21953 non-null  bool
 51  location_id                 21953 non-null  int64
 52  is_urban                    21953 non-null  bool
 53  cluster_size                21953 non-null  int64
 54  country_name                21882 non-null  object
 55  water_source                21894 non-null  object
 56  water_tech                  10682 non-null  object
 57  status                      10350 non-null  object
 58  adm1                        19270 non-null  object
 59  adm2                        16745 non-null  object
 60  adm3                        16033 non-null  object
 61  management                  10103 non-null  object
 62  pay                         2183 non-null   object
 63  subjective_quality          10232 non-null  object
 64  new_georeferenced_column_   21953 non-null  object
 65  lat_lon_deg                 21953 non-null  object
 66  public_data_source          21953 non-null  object
 67  converted                   10392 non-null  object
 68  count                       21953 non-null  int64
 69  created_timestamp           21953 non-null  object
 70  updated                     21953 non-null  object
 71  is_duplicate                665 non-null    object
 72  dataset_title               21953 non-null  object
dtypes: bool(2), float64(22), int64(5), object(44)
memory usage: 11.9+ MB

In [399]:
df.isna().sum().sum()

426001

In [400]:
df.columns

Index(['row_id', 'source', 'lat_deg', 'lon_deg', 'report_date', 'status_id',
       'water_source_clean', 'water_source_category', 'water_tech_clean',
       '_water_tech_category', 'facility_type', 'clean_country_name',
       'clean_country_id', 'clean_adm1', 'clean_adm2', 'clean_adm3',
       'clean_adm4', 'install_year', 'installer', 'rehab_year',
       'rehabilitator', 'management_clean', 'status_clean', 'pay_clean',
       'fecal_coliform_presence', 'fecal_coliform_value',
       'subjective_quality_clean', 'activity_id', 'scheme_id', 'wpdx_id',
       'notes', 'orig_lnk', 'photo_lnk', 'country_id', 'data_lnk',
       'distance_to_primary', 'distance_to_secondary', 'distance_to_tertiary',
       'distance_to_city', 'distance_to_town', 'water_point_history',
       'local_population', 'served_population', 'rehab_priority',
       '_pop_who_would_gain_access', 'crucialness', 'pressure', 'usage_cap',
       'days_since_report', 'staleness_score', 'is_latest', 'location_id',
       'is_urban', 'cluster_size', 'country_name', 'water_source',
       'water_tech', 'status', 'adm1', 'adm2', 'adm3', 'management', 'pay',
       'subjective_quality', 'new_georeferenced_column_', 'lat_lon_deg',
       'public_data_source', 'converted', 'count', 'created_timestamp',
       'updated', 'is_duplicate', 'dataset_title'],
      dtype='object')

In [401]:
df['is_urban'].value_counts()  #.head()

is_urban
False    21523
True       430
Name: count, dtype: int64

In [402]:
df_duplicated = df.duplicated()

In [403]:
df_duplicated.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [404]:
columns_to_keep = [
    'lat_deg', 'lon_deg',
    'clean_country_name', 'clean_adm1', 'clean_adm2', 'clean_adm3', 'is_urban',
    'water_source_clean', 'water_source_category',
    'water_tech_clean', '_water_tech_category',
    'facility_type', 'install_year', 'rehab_year',
    'status_clean', 'management_clean', 'pay_clean',
    'local_population', 'served_population',
    'report_date', 'days_since_report', 'staleness_score', 'is_latest',
    'subjective_quality_clean', 'rehab_priority', 'crucialness',
    'fecal_coliform_presence', 'fecal_coliform_value',
    'distance_to_primary', 'distance_to_city', 'distance_to_town'
]

In [405]:
print(len(columns_to_keep))

31

In [406]:
df = df[columns_to_keep]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21953 entries, 0 to 21952
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   lat_deg                   21953 non-null  float64
 1   lon_deg                   21953 non-null  float64
 2   clean_country_name        21953 non-null  object
 3   clean_adm1                21953 non-null  object
 4   clean_adm2                21953 non-null  object
 5   clean_adm3                21953 non-null  object
 6   is_urban                  21953 non-null  bool
 7   water_source_clean        21836 non-null  object
 8   water_source_category     21836 non-null  object
 9   water_tech_clean          16046 non-null  object
 10  _water_tech_category      15356 non-null  object
 11  facility_type             21953 non-null  object
 12  install_year              10167 non-null  float64
 13  rehab_year                0 non-null      float64
 14  status_clean              21953 non-null  object
 15  management_clean          10062 non-null  object
 16  pay_clean                 3592 non-null   object
 17  local_population          21104 non-null  float64
 18  served_population         21104 non-null  float64
 19  report_date               21953 non-null  object
 20  days_since_report         21953 non-null  int64
 21  staleness_score           21953 non-null  float64
 22  is_latest                 21953 non-null  bool
 23  subjective_quality_clean  10175 non-null  object
 24  rehab_priority            2055 non-null   float64
 25  crucialness               21023 non-null  float64
 26  fecal_coliform_presence   0 non-null      float64
 27  fecal_coliform_value      0 non-null      float64
 28  distance_to_primary       21953 non-null  float64
 29  distance_to_city          21905 non-null  float64
 30  distance_to_town          21953 non-null  float64
dtypes: bool(2), float64(14), int64(1), object(14)
memory usage: 4.9+ MB

In [407]:
def isna_count_in_col(df):
    for col in df.columns:
        if df[col].isna().sum() > 0:
            print(f'{col} : {df[col].isna().sum()}')

In [408]:
df = df.drop(columns = ['fecal_coliform_presence', 'fecal_coliform_value'])
isna_count_in_col(df)

water_source_clean : 117
water_source_category : 117
water_tech_clean : 5907
_water_tech_category : 6597
install_year : 11786
rehab_year : 21953
management_clean : 11891
pay_clean : 18361
local_population : 849
served_population : 849
subjective_quality_clean : 11778
rehab_priority : 19898
crucialness : 930
distance_to_city : 48

DATA CLEANING

In [409]:
df['_water_tech_category'].value_counts()

_water_tech_category
Motorized Pump     7131
Public Tapstand    5713
Hand Pump          2431
Rope and Bucket      81
Name: count, dtype: int64

In [410]:
df['_water_tech_category'] = df['_water_tech_category'].bfill()
df['_water_tech_category'].isna().sum()

11

In [411]:
df['_water_tech_category'] = df['_water_tech_category'].ffill()
df['_water_tech_category'].isna().sum()

0

In [412]:
isna_count_in_col(df)

water_source_clean : 117
water_source_category : 117
water_tech_clean : 5907
install_year : 11786
rehab_year : 21953
management_clean : 11891
pay_clean : 18361
local_population : 849
served_population : 849
subjective_quality_clean : 11778
rehab_priority : 19898
crucialness : 930
distance_to_city : 48

In [413]:
df['water_source_clean'].value_counts()

water_source_clean
Protected Well             11706
Borehole/Tubewell           6420
Undefined Well              1329
Sand or Sub-surface Dam      959
Piped Water                  717
Rainwater Harvesting         488
Protected Spring             197
Delivered Water               12
Unprotected Well               7
Undefined Spring               1
Name: count, dtype: int64

In [414]:
df['water_source_clean'] = df['water_source_clean'].bfill()
df['water_source_clean'].isna().sum()

0

In [415]:
df['water_source_category'].value_counts()

water_source_category
Well                       19462
Sand or Sub-surface Dam      959
Piped Water                  717
Rainwater Harvesting         488
Spring                       198
Delivered Water               12
Name: count, dtype: int64

In [416]:
df['water_source_category'] = df['water_source_category'].bfill()
df['water_source_category'].isna().sum()

0

In [417]:
df['water_tech_clean'].value_counts()

water_tech_clean
Motorized Pump - Electric    6848
Public Tapstand              5713
Hand Pump                    1039
Hand Pump - Afridev          1017
Hand Pump - Rope              694
Motorized Pump                280
Hand Pump - India Mark        138
Hand Pump - Nira               98
Rope and Bucket                81
Hand Pump - Tara               63
Hand Pump - Blue               54
Hand Pump - SWN 80             13
Motorized Pump - Diesel         3
Hydram Pump                     3
Hand Pump - Mono                2
Name: count, dtype: int64

In [418]:
df['water_tech_clean'] = df['water_tech_clean'].bfill()
df['water_tech_clean'].isna().sum()

0

In [419]:
df['install_year'].isna().sum()

11786

In [420]:
df['install_year'].median()

2009.0

In [421]:
df['install_year'] = df['install_year'].fillna(df['install_year'].median())
df['install_year'].isna().sum()

0

In [422]:
isna_count_in_col(df)

rehab_year : 21953
management_clean : 11891
pay_clean : 18361
local_population : 849
served_population : 849
subjective_quality_clean : 11778
rehab_priority : 19898
crucialness : 930
distance_to_city : 48

In [423]:
df = df.drop(columns = ['rehab_year'])
isna_count_in_col(df)

management_clean : 11891
pay_clean : 18361
local_population : 849
served_population : 849
subjective_quality_clean : 11778
rehab_priority : 19898
crucialness : 930
distance_to_city : 48

In [424]:
df['management_clean'].value_counts()

management_clean
Community Management                     6128
Private Operator/Delegated Management    1625
No Management                            1268
Other                                    1011
Other Institutional Management             17
Direct Government Operation                13
Name: count, dtype: int64

In [425]:
df['management_clean'] = df['management_clean'].bfill()
df['management_clean'].isna().sum()

0

In [426]:
df['pay_clean'].value_counts()

pay_clean
No payment                         2072
Fees collected – metered            959
Fees collected – annually           217
Fees collected – monthly            189
Fees collected – upon breakdown     151
Fees collected – basis unknown        4
Name: count, dtype: int64

In [427]:
df['pay_clean'] = df['pay_clean'].fillna('No payment')
df['pay_clean'].value_counts()

pay_clean
No payment                         20433
Fees collected – metered             959
Fees collected – annually            217
Fees collected – monthly             189
Fees collected – upon breakdown      151
Fees collected – basis unknown         4
Name: count, dtype: int64

In [428]:
df['pay_clean'].isna().sum()

0

In [429]:
df['local_population'].head()

0    2635.0
1    2696.0
2    3093.0
3    1501.0
4    2203.0
Name: local_population, dtype: float64

In [430]:
df['local_population'] = df['local_population'].fillna(df['local_population'].mean())
df['local_population'].isna().sum()

0

In [431]:
df['served_population'].head()

0    628.0
1    353.0
2    213.0
3    456.0
4    405.0
Name: served_population, dtype: float64

In [432]:
df['served_population'] = df['served_population'].fillna(df['served_population'].mean())
df['served_population'].isna().sum()

0

In [433]:
isna_count_in_col(df)

subjective_quality_clean : 11778
rehab_priority : 19898
crucialness : 930
distance_to_city : 48

In [434]:
df['subjective_quality_clean'].value_counts()

subjective_quality_clean
Unacceptable quality    6485
Acceptable quality      2757
Bad taste                711
Bad color                222
Name: count, dtype: int64

In [435]:
df['rehab_priority'].value_counts()

rehab_priority
0.0       17
190.0      9
80.0       9
232.0      8
142.0      8
          ..
926.0      1
834.0      1
870.0      1
2334.0     1
906.0      1
Name: count, Length: 955, dtype: int64

In [436]:
df['crucialness'].value_counts()

crucialness
1.000000    924
0.500000      9
0.111111      8
0.140000      7
0.064516      6
           ...
0.130470      1
0.102601      1
0.253435      1
0.177496      1
0.188917      1
Name: count, Length: 18190, dtype: int64

In [437]:
df['crucialness'] = df['crucialness'].fillna(df['crucialness'].median())
df['crucialness'].isna().sum()

0

In [438]:
df['distance_to_city'].head()

0     9868.998481
1    20760.630862
2    18439.815660
3    21351.632955
4    10629.729922
Name: distance_to_city, dtype: float64

In [439]:
df['distance_to_city'] = df['distance_to_city'].fillna(df['distance_to_city'].mean())
df['distance_to_city'].isna().sum()

0

In [440]:
print(df['rehab_priority'].mean())
print(df['rehab_priority'].median())
print(df['rehab_priority'].mode())

556.2686131386861
374.0
0    0.0
Name: rehab_priority, dtype: float64

In [441]:
df['rehab_priority'] = df['rehab_priority'].fillna(df['rehab_priority'].median())
df['rehab_priority'].isna().sum()

0

In [442]:
df['subjective_quality_clean'] = df['subjective_quality_clean'].bfill()
df['subjective_quality_clean'].isna().sum()

0

In [443]:
df.to_csv('../data/processed/wpdx_processed.csv')

In [444]:
df = pd.read_csv('../data/processed/wpdx_processed.csv')
df.head()

,Unnamed: 0,lat_deg,lon_deg,clean_country_name,clean_adm1,clean_adm2,clean_adm3,is_urban,water_source_clean,water_source_category,...,report_date,days_since_report,staleness_score,is_latest,subjective_quality_clean,rehab_priority,crucialness,distance_to_primary,distance_to_city,distance_to_town
0,0,0.287917,34.661463,Kenya,Kakamega,Lurambi,Butsotso Central,False,Protected Well,Well,...,2024-12-01T00:00:00.000,1,99.968484,True,Acceptable quality,374.0,0.238330,287.764240,9868.998481,9095.038598
1,1,0.382727,34.591831,Kenya,Kakamega,Mumias East,East Wanga,False,Borehole/Tubewell,Well,...,2024-12-01T00:00:00.000,1,99.968484,True,Acceptable quality,374.0,0.130935,7269.622548,20760.630862,7285.990111
2,2,0.311163,34.586723,Kenya,Kakamega,Mumias East,East Wanga,False,Borehole/Tubewell,Well,...,2024-12-01T00:00:00.000,1,99.968484,True,Acceptable quality,374.0,0.068865,251.747046,18439.815660,1838.649375
3,3,0.397245,34.595146,Kenya,Kakamega,Navakholo,Bunyala West,False,Protected Well,Well,...,2024-12-01T00:00:00.000,1,99.968484,True,Acceptable quality,374.0,0.303797,8909.317192,21351.632955,8933.390442
4,4,0.298903,34.655777,Kenya,Kakamega,Lurambi,Butsotso Central,False,Protected Well,Well,...,2024-12-01T00:00:00.000,1,99.968484,True,Acceptable quality,374.0,0.183840,1348.492303,10629.729922,9793.882332

In [445]:
df.duplicated().value_counts()

False    21953
Name: count, dtype: int64

In [446]:
len(df['clean_adm1'].unique())

39

In [447]:
df = pd.read_csv('../data/raw/nlp.csv')
df.head()

,Unnamed: 0,entry_id,lead_id,lang,n_tokens,project_title,created_at,document,source_title,author_title,...,pillars_2d,subpillars_1d,subpillars_2d,displaced,non_displaced,affected,severity,age,gender,specific_needs_groups
0,0,199921,44304,en,145,IMMAP/DFS Burkina Faso,2020-11-26 10:42:14.523264+00:00,Unknown,United Nations High Commissioner for Refugees,Unknown,...,[],['Displacement->Type/Numbers/Movements'],[],['Idp'],[],['Displaced'],[],[],[],[]
1,1,293791,52163,en,480,IMMAP/DFS Burkina Faso,2021-03-29 06:53:04.456578+00:00,https://allafrica.com/stories/202103160182.html,AllAfrica,Unknown,...,[],"['Context->Environment', 'Context->Economy']",[],[],[],[],[],[],[],[]
2,2,169536,40366,en,879,IMMAP/DFS Burkina Faso,2020-10-06 21:23:24.022536+00:00,Unknown,Reliefweb,Unknown,...,['At Risk'],"['Casualties->Dead', 'Context->Security & Stab...",['At Risk->Risk And Vulnerabilities'],[],[],[],[],[],[],[]
3,3,169537,40366,en,642,IMMAP/DFS Burkina Faso,2020-10-06 21:23:25.409843+00:00,Unknown,Reliefweb,Unknown,...,[],"['Displacement->Type/Numbers/Movements', 'Disp...",[],[],[],['Displaced'],[],"['<18 Years', '18-59 Years Old']","['All', 'Female']",[]
4,4,155848,38493,en,600,IMMAP/DFS Burkina Faso,2020-09-08 12:42:54.252017+00:00,Unknown,UNHCR Portal,Unknown,...,['Capacities & Response'],['Information And Communication->Communication...,['Capacities & Response->International Response'],['Idp'],['Host'],"['Non Displaced', 'Displaced']",[],[],[],[]

In [448]:
df.columns

Index(['Unnamed: 0', 'entry_id', 'lead_id', 'lang', 'n_tokens',
       'project_title', 'created_at', 'document', 'source_title',
       'author_title', 'excerpt', 'geo_location', 'sectors', 'pillars_1d',
       'pillars_2d', 'subpillars_1d', 'subpillars_2d', 'displaced',
       'non_displaced', 'affected', 'severity', 'age', 'gender',
       'specific_needs_groups'],
      dtype='object')

In [449]:
df['excerpt'][345]

'[Ouagadougou] While accessibility to schools is certainly better than to advanced healthcare facilities, significant parts of the city on its edges, such as the south-eastern boundary, have travel times in excess of 45 minutes or even an hour.'

In [450]:
df = pd.read_csv('../data/raw/wpdx_kenya.csv')
df.head()

C:\Users\PINCHEZZ\AppData\Local\Temp\ipykernel_6564\464967222.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/wpdx_kenya.csv')

,row_id,source,lat_deg,lon_deg,report_date,status_id,water_source_clean,water_source_category,water_tech_clean,_water_tech_category,...,subjective_quality,new_georeferenced_column_,lat_lon_deg,public_data_source,converted,count,created_timestamp,updated,is_duplicate,dataset_title
0,223047,Evidence Action,0.287917,34.661463,2024-12-01T00:00:00.000,Yes,Protected Well,Well,Motorized Pump - Electric,Motorized Pump,...,NaN,POINT (34.6614629 0.2879167),"(0.2879167°, 34.6614629°)",https://catalog.waterpointdata.org/datafiles/e...,NaN,1,2024-04-18T19:20:18.000,2024-04-18T19:20:18.000,NaN,Evidence Action_Kenya_2023-2024
1,221685,Evidence Action,0.382727,34.591831,2024-12-01T00:00:00.000,Yes,Borehole/Tubewell,Well,Public Tapstand,Public Tapstand,...,"Yes, the water is treated and safe for drinking",POINT (34.59183120727539 0.3827266693115234),"(0.38272666931152344°, 34.59183120727539°)",https://catalog.waterpointdata.org/datafiles/e...,"#status_id, #orig_lnk",1,2024-04-18T19:20:18.000,2024-04-18T19:20:18.000,NaN,Evidence Action_Kenya_2023-2024
2,221520,Evidence Action,0.311163,34.586723,2024-12-01T00:00:00.000,Yes,Borehole/Tubewell,Well,NaN,NaN,...,NaN,POINT (34.58672332763672 0.3111633360385895),"(0.3111633360385895°, 34.58672332763672°)",https://catalog.waterpointdata.org/datafiles/e...,NaN,1,2024-04-18T19:20:18.000,2024-04-18T19:20:18.000,NaN,Evidence Action_Kenya_2023-2024
3,221691,Evidence Action,0.397245,34.595146,2024-12-01T00:00:00.000,Yes,Protected Well,Well,Motorized Pump - Electric,Motorized Pump,...,NaN,POINT (34.59514617919922 0.3972449898719788),"(0.39724498987197876°, 34.59514617919922°)",https://catalog.waterpointdata.org/datafiles/e...,NaN,1,2024-04-18T19:20:18.000,2024-04-18T19:20:18.000,NaN,Evidence Action_Kenya_2023-2024
4,222938,Evidence Action,0.298903,34.655777,2024-12-01T00:00:00.000,Yes,Protected Well,Well,Motorized Pump - Electric,Motorized Pump,...,NaN,POINT (34.6557765 0.298903),"(0.298903°, 34.6557765°)",https://catalog.waterpointdata.org/datafiles/e...,NaN,1,2024-04-18T19:20:18.000,2024-04-18T19:20:18.000,NaN,Evidence Action_Kenya_2023-2024

In [451]:
df['subjective_quality'].value_counts()

subjective_quality
No, the water is not treated and safe for drinking                                           4025
Yes, the water is treated and safe for drinking                                              2737
Safe -Crisp and clear                                                                        2094
Not tested Crisp and clear                                                                    374
Safe Crisp and clear                                                                          267
Unsafe Coloured (whitish- brownish)                                                           110
Safe Crisp and clear|Salty                                                                    107
UNSafe Coloured e.g whitish , brown, green                                                     60
unspecified                                                                                    57
Not tested Crisp and clear|Salty                                                               46
Not tested Coloured (whitish- brownish)                                                        40
UnSafe Crisp and clear                                                                         37
Safe Salty                                                                                     26
Safe Crisp and clear,Salty                                                                     25
Unsafe Salty                                                                                   22
UNSafeCrisp and clear                                                                          22
Safe Coloured (whitish- brownish)                                                              22
Crisp and clear                                                                                20
Not tested                                                                                     14
UNSafe Crisp and clear                                                                         14
UnSafe Crisp and clear|Salty                                                                   10
Safe Crisp and clear|Coloured (whitish- brownish)                                               9
Safe Crisp and clear|Fluoride (e.g. brown teeth)                                                7
Safe                                                                                            6
Not tested Crisp and clear|Coloured (whitish- brownish)                                         6
Coloured e.g whitish , brown, green                                                             5
safe Salty                                                                                      5
UnSafe Crisp and clear|Coloured (whitish- brownish)                                             4
UNSafe Salty                                                                                    4
Safe unspecified                                                                                4
Unsafe Coloured (whitish- brownish)|Salty                                                       4
UNSafe Crisp and clear,Salty                                                                    4
UNSafe unspecified                                                                              4
Safe Coloured e.g whitish , brown, green                                                        3
Safe Crisp and clear|Salty|Fluoride (e.g. brown teeth)                                          3
UNSafe Coloured e.g whitish or brown,Salty                                                      3
Not tested Crisp and clear|Salty|Fluoride (e.g. brown teeth)                                    3
Unsafe Fluoride (e.g. brown teeth)                                                              3
UNSafeColoured e.g whitish , brown, green                                                       3
Unsafe Coloured (whitish- brownish)|Fluoride (e.g. brown teeth)                                 2
Not tested Crisp and clear|Coloured (whitish- brownish)|Salty|Fluoride (e.g. brown teeth)       2
UnSafe Crisp and clear|Fluoride (e.g. brown teeth)                                              2
UnSafe Crisp and clear|Coloured (whitish- brownish)|Salty|Fluoride (e.g. brown teeth)           2
UNSafeCrisp and clear,Coloured e.g whitish or brown                                             1
Crisp and clear|Salty                                                                           1
Not testedSalty                                                                                 1
SafeSalty                                                                                       1
UNSafe Crisp and clear,Salty,Fluoride e.g brown teeth                                           1
Not tested Crisp and clear|Fluoride (e.g. brown teeth)                                          1
Not tested Coloured (whitish- brownish)|Salty                                                   1
Not testedFluoride (e.g. brown teeth)                                                           1
Safe Coloured (whitish- brownish)|Salty                                                         1
UNSafe Coloured e.g whitish or brown, Fluoride e.g brown teeth                                  1
Crisp and clear,Salty                                                                           1
Unsafe Coloured (whitish- brownish)|Salty|Fluoride (e.g. brown teeth)                           1
Safe Crisp and clear,Coloured e.g whitish or brown                                              1
Not tested Coloured (whitish- brownish)|Fluoride (e.g. brown teeth)                             1
Coloured (whitish- brownish)                                                                    1
Name: count, dtype: int64

In [452]:
df['subjective_quality'].isna().sum()

11721

In [453]:
df = pd.read_csv('../data/raw/nlp.csv')
df.head()

,Unnamed: 0,entry_id,lead_id,lang,n_tokens,project_title,created_at,document,source_title,author_title,...,pillars_2d,subpillars_1d,subpillars_2d,displaced,non_displaced,affected,severity,age,gender,specific_needs_groups
0,0,199921,44304,en,145,IMMAP/DFS Burkina Faso,2020-11-26 10:42:14.523264+00:00,Unknown,United Nations High Commissioner for Refugees,Unknown,...,[],['Displacement->Type/Numbers/Movements'],[],['Idp'],[],['Displaced'],[],[],[],[]
1,1,293791,52163,en,480,IMMAP/DFS Burkina Faso,2021-03-29 06:53:04.456578+00:00,https://allafrica.com/stories/202103160182.html,AllAfrica,Unknown,...,[],"['Context->Environment', 'Context->Economy']",[],[],[],[],[],[],[],[]
2,2,169536,40366,en,879,IMMAP/DFS Burkina Faso,2020-10-06 21:23:24.022536+00:00,Unknown,Reliefweb,Unknown,...,['At Risk'],"['Casualties->Dead', 'Context->Security & Stab...",['At Risk->Risk And Vulnerabilities'],[],[],[],[],[],[],[]
3,3,169537,40366,en,642,IMMAP/DFS Burkina Faso,2020-10-06 21:23:25.409843+00:00,Unknown,Reliefweb,Unknown,...,[],"['Displacement->Type/Numbers/Movements', 'Disp...",[],[],[],['Displaced'],[],"['<18 Years', '18-59 Years Old']","['All', 'Female']",[]
4,4,155848,38493,en,600,IMMAP/DFS Burkina Faso,2020-09-08 12:42:54.252017+00:00,Unknown,UNHCR Portal,Unknown,...,['Capacities & Response'],['Information And Communication->Communication...,['Capacities & Response->International Response'],['Idp'],['Host'],"['Non Displaced', 'Displaced']",[],[],[],[]

In [459]:
df.columns

Index(['Unnamed: 0', 'entry_id', 'lead_id', 'lang', 'n_tokens',
       'project_title', 'created_at', 'document', 'source_title',
       'author_title', 'excerpt', 'geo_location', 'sectors', 'pillars_1d',
       'pillars_2d', 'subpillars_1d', 'subpillars_2d', 'displaced',
       'non_displaced', 'affected', 'severity', 'age', 'gender',
       'specific_needs_groups'],
      dtype='object')

In [457]:
keywords = [
    "contaminated", "dirty", "polluted", "unsafe", "hazardous",
    "brown", "cloudy", "muddy", "smelly", "foul odor",
    "discolored", "rusty", "sediment", "algae", "stagnant",
    "fecal", "cholera", "typhoid", "e.coli", "diarrhea",
    "unfit", "toxic", "nausea", "sickness", "illness", "infection",
    "clean", "clear", "treated", "filtered", "purified",
    "potable", "safe", "chlorinated", "boiled", "disinfected",
    "UV treated", "reverse osmosis", "good taste", "no odor",
    "fresh", "crystal clear", "transparent",
    "filtration", "disinfection", "chlorination", "UV treatment",
    "reverse osmosis", "boiling", "settling", "coagulation",
    "aeration", "carbon filter", "chemical treatment",
    "coliform", "turbidity", "pH", "arsenic", "nitrate",
    "bacteria", "pathogen", "lead", "hardness", "contaminant level"
]

In [458]:
import re

pattern = '|'.join([re.escape(word) for word in keywords])

In [465]:
filtered_df = df[df['excerpt'].str.contains(pattern, case=False, na=False)]
filtered_df.head()

,Unnamed: 0,entry_id,lead_id,lang,n_tokens,project_title,created_at,document,source_title,author_title,...,pillars_2d,subpillars_1d,subpillars_2d,displaced,non_displaced,affected,severity,age,gender,specific_needs_groups
2,2,169536,40366,en,879,IMMAP/DFS Burkina Faso,2020-10-06 21:23:24.022536+00:00,Unknown,Reliefweb,Unknown,...,['At Risk'],"['Casualties->Dead', 'Context->Security & Stab...",['At Risk->Risk And Vulnerabilities'],[],[],[],[],[],[],[]
15,15,161598,39538,en,524,IMMAP/DFS Burkina Faso,2020-09-17 17:11:17.685631+00:00,Unknown,UNHCR Portal,Unknown,...,[],"['Displacement->Intentions', 'Displacement->Ty...",[],"['Returnees', 'Refugees']",[],['Displaced'],[],[],[],[]
18,18,161391,39362,en,1294,IMMAP/DFS Burkina Faso,2020-09-17 13:29:50.403041+00:00,https://www.thenewhumanitarian.org/analysis/20...,The New Humanitarian,Unknown,...,[],['Information And Communication->Communication...,[],[],[],[],[],[],[],[]
20,20,159830,39379,en,992,IMMAP/DFS Burkina Faso,2020-09-16 08:04:06.018356+00:00,https://reliefweb.int/sites/reliefweb.int/file...,ReliefWeb,Unknown,...,['At Risk'],[],['At Risk->Risk And Vulnerabilities'],[],[],[],[],[],[],[]
21,21,161284,39527,en,854,IMMAP/DFS Burkina Faso,2020-09-17 12:19:46.042241+00:00,Unknown,Reliefweb,Unknown,...,"['Humanitarian Conditions', 'Impact']",[],"['Humanitarian Conditions->Living Standards', ...",[],[],[],['Severe Issue'],['<18 Years'],['All'],[]

In [469]:
filtered_df['excerpt'][2]

'Widespread and indiscriminate violence by armed groups continues in several regions of the country, particularly in the Sahel, East, North and the Centre North. The military, authorities, local leaders and civilians are regular targets of the attacks. On 8 July, the Mayor of Pensa in the Centre North was ambushed and killed. A month later, on 11 August, the Grand Imam of the city of Djibo was kidnapped by armed groups. A few days later his body was found. His death comes months after the killing of the Mayor of Djibo in November 2019.'